build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
*.iml
.idea/
.vscode/
.DS_Store
*.log
.git/
.gitignore
android/
ios/
linux/
macos/
windows/
test/
*.swp
*.swo
*~

